<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    
    <!-- Always force latest IE rendering engine or request Chrome Frame -->
    <meta content="IE=edge,chrome=1" http-equiv="X-UA-Compatible">
    
    <!-- Use title if it's in the page YAML frontmatter -->
    <title><%= current_page.data.title || "This Developing Story" %></title>
    <meta name="description" content="Developing stories about developers">

    <!-- Extra Meta-->
    <!-- Twitter Card data -->
    <meta name="twitter:site" content="@bdougYO">
    <meta name="twitter:title" content="This Developing Story">
    <meta name="twitter:creator" content="@bdougieYO">
    <meta name="twitter:image" content="https://pbs.twimg.com/profile_images/378800000866149076/IQhqAfva.jpeg">

    <!-- Open Graph data -->
    <meta property="og:title" content="This Developing Story" />
    <meta property="og:type" content="article" />
    <meta property="og:url" content="http://podcast.briandouglas.me" />
    <meta property="og:description" content="Developing stories told by developers" /> 
    <meta property="og:site_name" content="This Developing Story" />
    
    <meta name="description" content="A podcast focused on web developers and stories about developing">
    
    <%= stylesheet_link_tag "bootstrap", "clean-blog" %>
    <%= javascript_include_tag  "jquery", "boostrap", "clean-blog" %>
    <%= stylesheet_link_tag '//netdna.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css' %>
  </head>
  
  <body class="<%= page_classes %>">
  <%= partial "layouts/nav" %>
    <%= partial "layouts/podcast_header" %>
    <div class="container">
      <%= yield %>
      <%= partial "layouts/podcast_links" %>
      <%= partial "layouts/comments" %>
    </div>
  <%= partial "layouts/footer" %>
  </body>
</html>
