---
title: developing story
pageable: true
per_page: 10
---
<!-- Page Header -->
<!-- Set your background image for this header on the line below. -->
<header class="intro-header" style="background-image: url('images/home-bg.jpg')">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                <div class="site-heading">
                    <h1>a developing story</h1>
                    <hr class="small">
                    <span class="subheading">the story of a new developing journey</span>
                </div>
            </div>
        </div>
    </div>
</header>
<!-- Main Content -->
<div class="container">
    <div class="row">
        <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
          <% page_articles.each_with_index do |article, i| %>
            <div class="post-preview">
              <% date =  article.date.year %>
              <a href=<%= "/#{article.title.split(" ").join("_").downcase}.html" %>>
                    <h2 class="post-title">
                        <%= article.title %>
                    </h2>
                    <h3 class="post-subtitle">
                        <%= article.body %>
                    </h3>
                </a>
                <p class="post-meta">Posted by <a href="about.html">Brian Douglas</a> on <%= article.date.strftime('%B %e, %Y') %></p>
            </div>
            <hr>
          <% end %>
            <!-- Pager -->
            <ul class="pager">
                <li class="next">
                  <% if paginate && num_pages > 1 %>
                    <p>Page <%= page_number %> of <%= num_pages %></p>

                    <% if prev_page %>
                      <p><%= link_to 'Previous page', prev_page %></p>
                    <% end %>
                  <% end %>
                    <% if paginate %>
                      <% if next_page %>
                        <p><%= link_to 'Older Posts', next_page %></p>
                      <% end %>
                    <% end %>

                    <%#<a href="#">Older Posts &rarr;</a>%>
                </li>
            </ul>
        </div>
    </div>
</div>

